{% extends "school_tem/layout.html" %}
{% import "school_tem/sub_stu.html" as sub_stu %}
{% block header %}
    <link href="css/artific.css" ,rel="stylesheet">
    <style>
        table tr td {
            background: white;
        {#border: 1px solid cornflowerblue;#}
        }

        #_Title_0, .buttonStyle {
            font-size: 16px;
            font-family: FangSong;
        }

        #titleImg {
            display: none;
        }

        th {
            align-items: right
        }

        td {
            border-width: thin;
        }
    </style>

{% endblock %}
{% block content %}
    <div id="here">
        <div id="content" class="col-lg-12" style="margin-top: 5%;">
            <h2 style="margin-bottom: 2%">创建学科信息</h2>
            <div class="panel panel-default panel-body panel-body-nopadding" style="margin-top: 55px">
                <form class="form-horizontal form-bordered" action="{{ url_for(".add_Subject") }}" method="POST">
                    <div class="form-group" style="margin-top: 55px">
                        <label class="col-sm-3 control-label"
                               style="font-size: 24px;font-weight: normal;font-family: FangSong;">学科</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="subject_name" value="">
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 55px">
                        <label class="col-sm-3 control-label"
                               style="font-size: 24px;font-weight: normal;font-family: FangSong;">班级</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="class_name" value="">
                        </div>
                    </div>

                    <div class="form-group" style="margin-top: 55px">
                        <label class="col-sm-3 control-label"
                               style="font-size:  24px;font-weight: normal;font-family: FangSong">教师</label>

                        <!--需要核对数据类型，数字就可以 -->
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="teacher_name" value="">
                        </div>


                    </div>

                    <div class="form-group" style="margin-top: 55px">
                        <label class="col-sm-3 control-label"
                               style="font-size:  24px;font-weight: normal;font-family: FangSong">学生</label>
                        <div class="col-sm-6">
                            <input id="StuChoice" type="text" class="form-control" name="student_name"
                                   onclick="open1()"/>
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 55px">
                        <label class="col-sm-3 control-label"
                               style="font-size:  24px;font-weight: normal;font-family: FangSong">备注信息</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="description"
                                   onclick=""/>
                        </div>
                    </div>



                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <button class="btn btn-primary" id="btn" type="submit" disabled="true">提交</button>&nbsp;
                                <a href="{{ url_for(".Subject_info") }}" class="btn btn-default ">返回</a>
                            </div>
                        </div>
                    </div><!-- panel-footer -->

                </form>
            </div>
        </div>
        <!-- /.row -->
        {#        {{ sub_stu.Embeds(pagination) }}#}
    </div>
{% endblock %}

{% block foot %}
    {#    <script src="js/jquery-1.10.2.js"></script>#}
    <script type="text/javascript" src="js/zDrag.js"></script>
    <script type="text/javascript" src="js/zDialog.js"></script>
    <script type="text/javascript">
        function uniqe(arr) {
            var temp = []
            for (var i = 0; i < arr.length; i++) {
                if (arr[i] != "" && arr.indexOf(arr[i]) == i) {
                    temp.push(arr[i]);
                }
            }
            return temp;
        }


        function open1() {

            var diag = new Dialog();
            diag.Modal = false;
            diag.Width = 800;
            diag.Height = 600;
            diag.Left = 600;
            diag.Top = 100;

            diag.Title = "关联学生信息";

            diag.URL = "searchSubejcts";
            diag.ShowButtonRow = true;
            //弹出框点击确认时执行的函数
            diag.OKEvent = function () {
                var tb = diag.innerFrame.contentWindow.document.getElementsByTagName("table")[0];
                var rows = tb.rows;
                var arry = new Array();
                var arrynew = []
                var arryold = document.getElementById("StuChoice").value.split(",");
                for (var i = 1; i < rows.length; i++) {
                    if (rows[i].cells[0].getElementsByTagName("input")[0].checked == true) {
                        arry.push(rows[i].cells[0].getElementsByTagName("input")[0].value)
                    }

                    else if (arryold.indexOf(rows[i].cells[0].getElementsByTagName("input")[0].value) >= 0) {
                        delete arryold[arryold.indexOf(rows[i].cells[0].getElementsByTagName("input")[0].value)]
                    }
                }

                //合并数组
                arrynew = arrynew.concat(arry).concat(arryold);
                //数组去掉空值
                arrynew = uniqe(arrynew);
                document.getElementById("StuChoice").value = arrynew;

                diag.close()
            };
            //弹出框加载完成时执行的函数
            diag.OnLoad = function () {

                var tb = diag.innerFrame.contentWindow.document.getElementsByTagName("table")[0];
                var search=diag.innerFrame.contentWindow.document.getElementById("search_array");
                var rows = tb.rows;
                var arry = document.getElementById("StuChoice").value.split(",");

                arry = uniqe(arry);
                for (var i = 1; i < rows.length; i++) {
                    for (var j = 0; j < arry.length; j++) {
                        if (rows[i].cells[0].getElementsByTagName("input")[0].value == arry[j]) {
                            rows[i].cells[0].getElementsByTagName("input")[0].checked = true
                        }
                    }
                }
                search.value=arry
                console.log(search)
            };

            diag.show();
            diag.okButton.value = "确认"
            diag.cancelButton.value = "关闭"
            document.getElementById("_DialogBGDiv").style.display = "block"


        }
    </script>
    <script>
        $("#btn").attr("disabled", "true");
        $("#btn").attr("disabled", "disabled");
        $("#btn").attr("disabled", "false");
        $("#btn").removeAttr("disabled", "disabled");
    </script>

{% endblock %}