{% extends "school_tem/layout.html" %}
{% block header %}
    <link href="css/artific.css" ,rel="stylesheet">
    <link href="css/component-chosen.css" rel="stylesheet">
    <style>
        .chosen-container-multi .chosen-choices .search-field input[type="text"] {
            height: calc(2.25rem + 9px);
        }

        .chosen-container-single .chosen-single {
            height: calc(2.25rem + 9px);
        }

        .chosen-single > span {
            margin-top: 4px;

        }
    </style>
{% endblock %}
{% block content %}
    <div class="col-lg-12" style="margin-top: 5%;">
        <h2 style="margin-bottom: 2%">创建教师信息</h2>
        <div class="panel panel-default panel-body panel-body-nopadding" style="margin-top: 55px">
            <form class="form-horizontal form-bordered" action="{{ url_for(".add_Teacher") }}" method="POST">
                <div class="form-group" style="margin-top: 55px">
                    <label class="col-sm-3 control-label"
                           style="font-size: 24px;font-weight: normal;font-family: FangSong;">教师姓名</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="teacher_name" value="">
                    </div>
                </div>


                <div class="form-group" style="margin-top: 55px">
                    <label class="col-sm-3 control-label"
                           style="font-size:  24px;font-weight: normal;font-family: FangSong">住&nbsp&nbsp&nbsp&nbsp址</label>
                    <div class="col-sm-6">
                        <!--需要核对数据类型，数字就可以 -->
                        <input type="text" class="form-control" name="teacher_address" value=""/>
                    </div>
                </div>

                <div class="form-group" style="margin-top: 55px">
                    <label class="col-sm-3 control-label"
                           style="font-size:  24px;font-weight: normal;font-family: FangSong">手机号码</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="teacher_phone" value=""/>
                    </div>
                </div>

                <div class="form-group" style="margin-top: 55px">
                    <label class="col-sm-3 control-label"
                           style="font-size:  24px;font-weight: normal;font-family: FangSong">学&nbsp&nbsp&nbsp&nbsp科</label>
                    <div class="col-sm-6" style="height: 40px;">

                        <select name="subjectSelect" id="optgroup" class="form-control form-control-chosen"
                                data-placeholder="请选择" multiple>

                            {% for subject in subject_modellist %}
                                {% if subject in subject_modelforce %}
                                    <option selected
                                            value="{{ subject.subject_name }}">{{ subject.subject_name }}</option>

                                {% else %}
                                    <option value="{{ subject.subject_name }}">{{ subject.subject_name }}</option>
                                {% endif %}
                            {% endfor %}


                        </select>
                    </div>
                </div>


                <input type="hidden" name="page" value="">

                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <button class="btn btn-primary" id="btn" type="submit" disabled="true">提交</button>&nbsp;
                            <a href="{{ url_for(".Teacher_info") }}"
                               class="btn btn-default ">返回</a>
                        </div>
                    </div>
                </div><!-- panel-footer -->


            </form>
        </div>
    </div>
    </div><!-- /.row -->
{% endblock %}
{% block foot %}
    <script>
        $("#btn").attr("disabled", "true");
        $("#btn").attr("disabled", "disabled");
        $("#btn").attr("disabled", "false");
        $("#btn").removeAttr("disabled", "disabled");

    </script>

    <script type="text/javascript" src="js/chosen.jquery.js"></script>
    <script type="text/javascript">
        $('.form-control-chosen').chosen({
            search_contains: true,
            allow_single_deselect: true,
            width: '100%',
        });
    </script>
{% endblock %}