{% extends "school_tem/layout.html" %}
{% block header %}

    <link href="css/component-chosen.css" rel="stylesheet">
    <style>
        .chosen-container-multi .chosen-choices .search-field input[type="text"] {
            height: calc(2.25rem + 9px);
        }

        .chosen-container-single .chosen-single {
            height: calc(2.25rem + 9px);
        }

        .chosen-single > span {
            margin-top: 4px;

        }
    </style>
{% endblock %}
{% block content %}
    <div class="col-lg-12" style="margin-top: 5%;">
        <h2 style="margin-bottom: 2%">编辑缴费信息</h2>
        <div class="panel panel-default panel-body panel-body-nopadding" style="margin-top: 55px">
            <form class="form-horizontal form-bordered" action="{{ request.url }}" method="POST">

                <div class="form-group" style="margin-top: 45px">
                    <label class="col-sm-3 control-label"
                           style="font-size: 24px;font-weight: normal;font-family: FangSong;">学生姓名</label>
                    <div class="col-sm-6">

                        <input type="text" class="form-control" name="student_name"
                               value="{{ prices_modelSelect.pri_stu.student_name }}" readonly>
                    </div>
                </div>


                <div class="form-group" style="margin-top: 55px">
                    <label class="col-sm-3 control-label"
                           style="font-size:  24px;font-weight: normal;font-family: FangSong">教师姓名</label>
                    <div class="col-sm-6">

                        <input type="text" class="form-control" name="teacher_name"
                               value="{{ prices_modelSelect.pri_tea.teacher_name }}"readonly>
                    </div>
                </div>

                <div class="form-group" style="margin-top: 55px">
                    <label class="col-sm-3 control-label"
                           style="font-size:  24px;font-weight: normal;font-family: FangSong">学科</label>
                    <div class="col-sm-6">
                        <!--需要核对数据类型，数字就可以 -->
                        <input type="text" class="form-control" name="subject_name"
                               value="{{ prices_modelSelect.pri_sub.subject_name }}"readonly/>
                    </div>
                </div>

                <div class="form-group" style="margin-top: 55px">
                    <label class="col-sm-3 control-label"
                           style="font-size:  24px;font-weight: normal;font-family: FangSong">开始时间</label>
                    <div class="col-sm-6">
                        <input type="date" class="form-control" name="startTime"
                               value="{{ prices_modelSelect.startTime }}"/>
                    </div>
                </div>

                <div class="form-group" style="margin-top: 55px">
                    <label class="col-sm-3 control-label"
                           style="font-size:  24px;font-weight: normal;font-family: FangSong">结束时间</label>
                    <div class="col-sm-6">
                        <input type="date" class="form-control" name="stopTime"
                               value="{{ prices_modelSelect.stopTime }}"/>
                    </div>
                </div>
                <div class="form-group" style="margin-top: 55px">
                    <label class="col-sm-3 control-label"
                           style="font-size:  24px;font-weight: normal;font-family: FangSong">学时</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="ClassHours"
                               value="{{ prices_modelSelect.ClassHours }}"/>
                    </div>
                </div>
                <div class="form-group" style="margin-top: 55px">
                    <label class="col-sm-3 control-label"
                           style="font-size:  24px;font-weight: normal;font-family: FangSong">费用</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="prices"
                               value="{{ prices_modelSelect.prices }}"/>
                    </div>
                </div>
                <input type="hidden" name="page" value="">

                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <button class="btn btn-primary" type="submit">提交</button>&nbsp;
                            <a href="{{ url_for(".Price_info") }}"
                               class="btn btn-default ">返回</a>
                        </div>
                    </div>
                </div><!-- panel-footer -->


            </form>
        </div>
    </div>
    </div><!-- /.row -->
{% endblock %}
{% block foot %}
    <script type="text/javascript" src="js/chosen.jquery.js"></script>
    <script type="text/javascript">
        $('.form-control-chosen').chosen({
            search_contains: true,
            allow_single_deselect: true,
            width: '100%',
        });
    </script>
{% endblock %}
