{% extends "school_tem/layout.html" %}
{% block header %}
    <link href="/css/artific.css" ,rel="stylesheet">

    <link href="css/component-chosen.css" rel="stylesheet">
    <style>
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .chosen-container-multi .chosen-choices .search-field input[type="text"] {
            height: calc(2.25rem + 9px);
        }

        .chosen-container-single .chosen-single {
            height: calc(2.25rem + 9px);
        }

        .chosen-single > span {
            margin-top: 4px;

        }

        .ingreen {
            color: green;
            font-size: 20px;
            font-weight: normal;
            font-family: FangSong;;
        }

        .inred {
            color: red;
            border: none;
            background: none;
            font-size: 20px;
            font-weight: normal;
            font-family: FangSong;;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="col-lg-12" style="margin-top: 5%;">
        <h2 style="margin-bottom: 2%">修改用户密码</h2>
        <div class="panel panel-default panel-body panel-body-nopadding" style="margin-top: 55px">
            <form class="form-horizontal form-bordered" action="{{ url_for(".user_modify") }}" method="POST"
                  onsubmit="return false" id="form">

                <ul id="ocheck">
                    <li class="form-group" style="margin-top: 55px">

                    <span class="col-sm-3 control-label"
                          style="font-size: 24px;font-weight: normal;font-family: FangSong;">账号</span>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="user" placeholder="请输入用户账号" readonly value="{{ user.user }}">
                        </div>

                    </li>

                    <li class="form-group" style="margin-top: 55px">

                    <span class="col-sm-3 control-label"
                          style="font-size: 24px;font-weight: normal;font-family: FangSong;">姓名</span>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="username" value="{{ user.username }}"  readonly placeholder="请输入用户姓名">


                        </div>
                    </li>
                    <li class="form-group" style="margin-top: 55px">

                    <span class="col-sm-3 control-label"
                          style="font-size: 24px;font-weight: normal;font-family: FangSong;">新密码</span>
                        <div class="col-sm-6">
                            <input type="password" class="form-control" name="password" id="oChpass"
                                   placeholder="密码中必须包含字母、数字、特称字符，至少8个字符，最多30个字符">
                            <div class="" type="text"></div>

                        </div>
                    </li>

                </ul>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <button class="btn btn-primary" id="btn" type="submit" disabled="true">提交</button>&nbsp;
                            <a href="{{ url_for(".index_dash") }}" class="btn btn-default ">返回</a>
                        </div>
                    </div>
                </div><!-- panel-footer -->
            </form>
        </div>
    </div>
    </div><!-- /.row -->
{% endblock %}
{% block foot %}

    <script>
        $("#btn").attr("disabled", "true");
        $("#btn").attr("disabled", "disabled");
        $("#btn").attr("disabled", "false");
        $("#btn").removeAttr("disabled", "disabled");
        var oCHCK = function (chxm) {
            var chxm = chxm;
            var chpassword = false;
            var oCheck = document.getElementById('ocheck');    //父级IDIdName  oChxm
            var oChpassObject = getByClass(oCheck, 'oChpass')[0];
            function getByClass(o, s)//获取Class;
            {
                var aEle = document.getElementsByTagName('*');
                // console.log(aEle)
                var arr = [];
                for (var i = 0; i < aEle.length; i++) {
                    if (aEle[i].id == s) {
                        arr.push(aEle[i])
                    }
                }
                return arr;
            }
        // 密码校验
            function oChpassword() {

                var reQQ = new RegExp('(?=.*[0-9])(?=.*[A-Z])(?=.*[a-z])(?=.*[^a-zA-Z0-9]).{8,30}');
                if (oChpassObject) {
                    oChpassObject.onkeyup = function () {
                        if (reQQ.test(this.value)) {
                            this.nextSibling.nextSibling.innerHTML = '输入正确';
                            this.nextSibling.nextSibling.className = 'ingreen';
                            chpassword = true;
                            return;
                        } else {
                            this.nextSibling.nextSibling.innerHTML = '请输入正确的密码';
                            this.nextSibling.nextSibling.className = 'inred';
                            chpassword = false;
                            return;
                        }
                    }
                }
            }
            oChpassword();
            // // oChmail();
            var oCheckSbumit = getByClass(window, 'btn')[0];
            oCheckSbumit.onclick = function () {
                oCheckSbumit1();
            };
            function oCheckSbumit1() {
                var chckevalue = true;
                if (oChpassObject && chpassword != true) {
                    oChpassObject.nextSibling.nextSibling.innerHTML = '请输入正确的密码';
                    oChpassObject.nextSibling.nextSibling.className = 'inred';
                    chckevalue = false;

                }
                if (chckevalue == true) {

                    document.getElementById("form").submit()
                } else {
                    return false
                }
            }
        };
        oCHCK(false)
    </script>
{% endblock %}