{% extends "school_tem/layout.html" %}
{% import "school_tem/_macros.html" as macros %}
{% block content %}
    <div id="page-wrapper">

        <div class="row">
            <div class="col-lg-12">
                <h2>学生信息</h2>
                <div class="table-responsive">
                    <div class="form-group " style="margin-bottom: 1%;margin-top: 1%;margin-left: 4%;">

                        <input id="search_student" class="form-group-select" placeholder="请输入学生姓名">
                        <button id="search_student_button" type="submit" class="form-group-control">搜索
                        </button>
                        <a href="add_Student">

                            <button id="add_student_button" type="submit" class="form-group-control" name="ti">添加
                            </button>
                        </a>
                        <input id="upload_student_input" type="file" style="display: none;">
                        <button id="upload_student_button" type="file" class="form-group-control">导入
                        </button>
                        <a href="export_Student/Students_info" download="学生表.xlsx">
                            <button id="export_student_button" type="file" class="form-group-control">导出
                            </button>

                        </a>


                    </div>
                    <table class="table table-bordered table-hover table-striped tablesorter">
                        <thead>
                        <tr>
                            <th style="width:11%;">学生姓名 <i class="fa fa-sort"></i></th>
                            <th style="width:6%;">性别 <i class="fa fa-sort"></i></th>
                            <th style="width:6%;">年龄 <i class="fa fa-sort"></i></th>
                            <th style="width:11%;">手机号码 <i class="fa fa-sort"></i></th>
                            <th style="width:11%;">座机号码<i class="fa fa-sort"></i></th>
                            <th>课程<i class="fa fa-sort"></i></th>
                            <th style="width:20%;">选择<i class="fa fa-sort"></i></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for student in students_modellist %}

                            <tr class="active">
                                <td>{{ student.student_name }}</td>
                                <td>{{ student.student_sex }}</td>
                                <td>{{ student.student_age }}</td>
                                <td>{{ student.student_phone }}</td>
                                <td>{{ student.student_landline }}</td>
                                <td>
                                    {% for subject in student.stu_sub %}
                                        {{ subject.subject_name }}&nbsp

                                    {% endfor %}

                                </td>
                                <td>

                                    {% set student_name=student.student_name %}

                                    {% set url=request.url | accept_pattern("(.*)/(.*)")+"/editor_student?search="+student_name %}

                                    <input type="button" value="编辑" onclick=editor_student("{{ url }}")>

                                    {% if user.role_id!=1 %}
                                        <input type="button" value="删除" id="deleteStudent"
                                               onclick="deleteStudent('{{ student_name }}')" disabled="disabled"/>
                                    {% else %}
                                        <input type="button" value="删除" id="deleteStudent"
                                               onclick="deleteStudent('{{ student_name }}')"/>
                                    {% endif %}

                                    <input type="hidden" value="submit" onclick="getText();"/>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div id="page">

                </div>
                {#                分页#}
                {{ macros.pagination_widget(pagination, '.Student_info') }}
            </div>

        </div><!-- /.row -->

    </div><!-- /#page-wrapper -->


{% endblock %}
{% block foot %}

    <script>
        {#搜索学生#}
        $("#search_student_button").click(
            function () {
                var search_student = $("#search_student").val()
                console.log("?search_student=" + search_student)

                window.location.href = "?search_student=" + search_student

            });


        {#删除学生#}

        function deleteStudent(name) {
            {#console.log("haha")#}
            var del_student = confirm("请确认是否删除")
            {#console.log(del_student)#}

            {#alert(name)#}
            if (del_student == true) {

                $.ajax({
                    url: "deleteStudent",
                    data: {"delete_student": name},
                    type: "post",
                    success: function () {
                        window.location.reload()
                    }


                })
            }
        }

        {#编辑学生信息#}

        function editor_student(url) {
            window.location.href = url

        }

        {#button触发input 上传#}
        $("#upload_student_button").click(
            function () {
                console.log("haha")
                document.getElementById("upload_student_input").click()
            }
        )


    </script>
    <script>
        //首先监听input框的变动，选中一个新的文件会触发change事件
        document.querySelector("#upload_student_input").addEventListener("change", function () {

            //获取到选中的文件
            var file = document.querySelector("#upload_student_input").files[0];
            //创建formdata对象
            var formdata = new FormData();
            formdata.append("file", file);
            //创建xhr，使用ajax进行文件上传
            var xhr = new XMLHttpRequest();
            xhr.open("post", "/upload_Student?" + file);
            console.log("/upload_Student?" + file.name)

            xhr.send(formdata);
        });
    </script>
    <script type="text/javascript">

        window.onload = function () {

            {% if user.role_id!=1 %}
                document.getElementById("export_student_button").disabled = true;
                document.getElementById("upload_student_button").disabled = true;
            {% endif %}

        }
    </script>
{% endblock %}