{% extends "school_tem/layout.html" %}
{% import "school_tem/_macros.html" as macros %}
{% block content %}
    <div id="page-wrapper">

        <div class="row">
            <div class="col-lg-12">
                <h2>学科信息</h2>
                <div class="table-responsive">
                    <div class="form-group " style="margin-bottom: 1%;margin-top: 1%;margin-left: 4%;">

                        <input id="search_Subject" class="form-group-select" placeholder="请输入学科名称">
                        <button id="search_Subject_button" type="submit" class="form-group-control">搜索
                        </button>
                        <a href="add_Subject">
                            <button id="add_subject_button" type="submit" class="form-group-control" name="ti">添加
                            </button>
                        </a>
                        <input id="upload_subject_input" type="file" style="display: none;">
                        <button id="upload_subject_button" type="file" class="form-group-control">导入
                        </button>
                        <a href="export_Subject/Subjects_info" download="学科表.xlsx">
                            <button id="export_subject_button" type="file" class="form-group-control">导出
                            </button>

                        </a>


                    </div>
                    <table class="table table-bordered table-hover table-striped tablesorter">
                        <thead>
                        <tr>
                            <th style="width:11%;">学科 <i class="fa fa-sort"></i></th>
                            <th style="width:11%;">班级 <i class="fa fa-sort"></i></th>
                            <th style="width:6%;"> 教学讲师<i class="fa fa-sort"></i></th>
                            <th style="width:11%;">学生<i class="fa fa-sort"></i></th>
                            <th style="width:11%;">班级人数 <i class="fa fa-sort"></i></th>
                            <th style="width:20%;">选择<i class="fa fa-sort"></i></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for subject in subjects_modellist %}

                            <tr class="active">
                                <td >{{ subject.subject_name }}</td>
                            <td>{{ subject.class_name }}</td>
                                <td>
                                    {% for sub in subject.sub_tea %}
                                        {{ sub.teacher_name }}
                                    {% endfor %}

                                </td>
                                <td>

                                    {% for sub in subject.sub_stu %}
                                        {{ sub.student_name }}&nbsp
                                    {% endfor %}
                                </td>
                                <td>
                                    总计 {{ subject.sub_stu | length }} 人
                                </td>
                                <td>
                                    {% set subject_name=subject.subject_name %}
                                    {% set url=request.url | accept_pattern("(.*)/(.*)")+"/editor_Subject?search="+subject_name %}

                                    <input type="button" value="编辑"
                                           {% if user.role_id==3 %}disabled="disabled"{% endif %}
                                           onclick=editor_Subject("{{ url }}")>

                                    <input type="button" value="删除" onclick="deleteSubject('{{ subject_name }}')"
                                           {% if user.role_id!=1 %}disabled="disabled"{% endif %}/>


                                    <input type="hidden" value="submit" onclick="getText();"/>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div id="page">

                </div>
                {#                分页#}
                {{ macros.pagination_widget(pagination, '.Subject_info') }}
            </div>

        </div><!-- /.row -->

    </div><!-- /#page-wrapper -->


{% endblock %}
{% block foot %}

    <script>
        {#搜索学生#}
        $("#search_Subject_button").click(
            function () {
                var search_Subject = $("#search_Subject").val()
                window.location.href = "?search_Subject=" + search_Subject

            });


        {#删除学生#}

        function deleteSubject(name) {
            {#console.log("haha")#}
            var delete_Subject = confirm("请确认是否删除")

            if (delete_Subject == true) {

                $.ajax({
                    url: "deleteSubject",
                    data: {"delete_Subject": name},
                    type: "post",
                    success: function () {
                        console.log("hehe")
                        window.location.reload()
                    }


                })

            }
        }

        {#编辑学生信息#}

        function editor_Subject(url) {
            window.location.href = url
        }

        {#button触发input 上传#}
        $("#upload_subject_button").click(
            function () {

                document.getElementById("upload_subject_input").click()
            }
        )
    </script>
    <script>
        //首先监听input框的变动，选中一个新的文件会触发change事件
        document.querySelector("#upload_subject_input").addEventListener("change", function () {

            //获取到选中的文件
            var file = document.querySelector("#upload_subject_input").files[0];
            //创建formdata对象
            var formdata = new FormData();
            formdata.append("file", file);
            //创建xhr，使用ajax进行文件上传
            var xhr = new XMLHttpRequest();
            xhr.open("post", "/upload_Subject?" + file);

            xhr.send(formdata);
        });
    </script>
    <script type="text/javascript">

        window.onload = function () {

            {% if user.role_id!=1 %}
                document.getElementById("export_subject_button").disabled = true;
                document.getElementById("upload_subject_button").disabled = true;
            {% endif %}
            {% if user.role_id==3 %}
                document.getElementById("add_subject_button").disabled = true
            {% endif %}
        }
    </script>
{% endblock %}