<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style type="text/css">
    body{
    }
    table .table-striped{
        border: 1px solid;
    }

    table td{
        text-align: left;
        height:30px;
        width: 20%;
        border:1px solid;
    }
    table tr:hover{
        background: #eeeeee;
    }
    #pagiDiv{

    }
    #pagiDiv span{
        background:white;
        margin-top: 3px;
        border-radius: .2em;
    }
</style>
    <script type="text/javascript" src="pagination.js"></script>
    <script src="js/jquery-1.10.2.js"></script>
    <script type="text/javascript">
        //全局变量
        var numCount;       //数据总数量
        var columnsCounts;  //数据列数量
        var pageCount;      //每页显示的数量
        var pageNum;        //总页数
        var currPageNum ;   //当前页数

        //页面标签变量
        var blockTable;
        var preSpan;
        var firstSpan;
        var nextSpan;
        var lastSpan;
        var pageNumSpan;
        var currPageSpan;
        window.onload=function(){
            //页面标签变量
            blockTable = document.getElementById("blocks");
            preSpan = document.getElementById("spanPre");
            firstSpan = document.getElementById("spanFirst");
            nextSpan = document.getElementById("spanNext");
            lastSpan = document.getElementById("spanLast");
            pageNumSpan = document.getElementById("spanTotalPage");
            currPageSpan = document.getElementById("spanPageNum");

            numCount = document.getElementById("blocks").rows.length - 1;       //取table的行数作为数据总数量（减去标题行1）
            alert(numCount)
            columnsCounts = blockTable.rows[0].cells.length;
            alert(columnsCounts)
            pageCount = 1;
            pageNum = parseInt(numCount/pageCount);
            if(0 != numCount%pageCount){
                pageNum += 1;
            }

            firstPage();
        };

    </script>
    <script>
    function firstPage(){
        hide();
        currPageNum = 1;
        showCurrPage(currPageNum);
        showTotalPage();
        for(i = 1; i < pageCount + 1; i++){
            blockTable.rows[i].style.display = "";
        }

        firstText();
        preText();
        nextLink();
        lastLink();
    }

    function prePage(){
        hide();
        currPageNum--;
        showCurrPage(currPageNum);
        showTotalPage();
        var firstR = firstRow(currPageNum);
        var lastR = lastRow(firstR);
        for(i = firstR; i < lastR; i++){
            blockTable.rows[i].style.display = "";
        }

        if(1 == currPageNum){
            firstText();
            preText();
            nextLink();
            lastLink();
        }else if(pageNum == currPageNum){
            preLink();
            firstLink();
            nextText();
            lastText();
        }else{
            firstLink();
            preLink();
            nextLink();
            lastLink();
        }

    }

    function nextPage(){
        hide();
        currPageNum++;
        showCurrPage(currPageNum);
        showTotalPage();
        var firstR = firstRow(currPageNum);
        var lastR = lastRow(firstR);
        console.log(lastR+"lastR")
        console.log(firstR+"firstR")
        for(i = firstR; i < lastR; i ++){
            blockTable.rows[i].style.display = "";
        }

        if(1 == currPageNum){
            firstText();
            preText();
            nextLink();
            lastLink();
        }else if(pageNum == currPageNum){
            preLink();
            firstLink();
            nextText();
            lastText();
        }else{
            firstLink();
            preLink();
            nextLink();
            lastLink();
        }
    }

    function lastPage(){
        hide();
        currPageNum = pageNum;
        showCurrPage(currPageNum);
        showTotalPage();
        var firstR = firstRow(currPageNum);
        for(i = firstR; i < numCount + 1; i++){
            blockTable.rows[i].style.display = "";
        }

        firstLink();
        preLink();
        nextText();
        lastText();
    }

    // 计算将要显示的页面的首行和尾行
    function firstRow(currPageNum){
                console.log(currPageNum,"currPageNum")
        console.log(pageCount*(currPageNum - 1) + 1+"LLLL")
        console.log(pageCount+"pageCount")
        return pageCount*(currPageNum - 1) + 1;
    }

    function lastRow(firstRow){
        var lastRow = firstRow + pageCount;
        if(lastRow > numCount + 1){
            lastRow = numCount + 1;
        }
        return lastRow;
    }

    function showCurrPage(cpn){
        currPageSpan.innerHTML = cpn;
    }

    function showTotalPage(){
        pageNumSpan.innerHTML = pageNum;
    }

    //隐藏所有行
    function hide(){
        for(var i = 1; i < numCount + 1; i ++){
            blockTable.rows[i].style.display = "none";
        }
    }

    //控制首页等功能的显示与不显示
    function firstLink(){firstSpan.innerHTML = "<a href='javascript:firstPage();'>First</a>";}
    function firstText(){firstSpan.innerHTML = "First";}

    function preLink(){preSpan.innerHTML = "<a href='javascript:prePage();'>Pre</a>";}
    function preText(){preSpan.innerHTML = "Pre";}

    function nextLink(){nextSpan.innerHTML = "<a href='javascript:nextPage();'>Next</a>";}
    function nextText(){nextSpan.innerHTML = "Next";}

    function lastLink(){lastSpan.innerHTML = "<a href='javascript:lastPage();'>Last</a>";}
    function lastText(){lastSpan.innerHTML = "Last";}
     /*显示浮动框*/
    function showCommentDiv(obj) {

        $("#FatherDiv").css({'top':"20%",'left':"20%"}).show();
    }
    </script>
    <script src="js/jquery-1.10.2.js">

</script>
//浮动窗口的显示隐藏是通过js实现的
<script type="text/javascript">
 /*显示浮动框*/
    function showCommentDiv(obj) {

        $("#FatherDiv").css({'top':"20%",'left':"20%"}).show();
    }

     function showThis(obj) {
        $(obj).show();
    }
    /*隐藏浮动框*/
    function hideCommentDiv() {
        $("#editCourseDiv").hide();
    }
    function hideThis(obj) {
        $(obj).hide();
    }
//获取选中的评语
    function getValue(obj) {
        if (obj.checked==true){
            var selectTitle = obj.value;
            $("#teaMarkContent").val(selectTitle);}
        else {
            $("#teaMarkContent").val("");
        }
    }

</script>
</head>
<body align="center">
<input type="text" class="textClass" name="jobSubmit.teaMarkContent" id="teaMarkContent"  />
<input type="button" name="button" class="ButtonStyle" id="selectBtn" value="选择模板" onclick="showCommentDiv(this);" />
<div class="container" align="center" id="FatherDiv" style="display: none;">




    <h2 align="center">学生信息</h2>




    <table id="blocks" class="table table-striped" style="margin-top:25px" >

        <tr>
            <td>学生信息</td>
            <td>备注</td>
        </tr>

        <tr>
            <td>
                  <span>
                     <input type="checkbox" name="comment" id="comment" value="双大钧" title="双大钧" onclick="getValue(this)"/>双大钧
                 </span>
            </td>
            <td>
                  <span></span>
            </td>

        </tr>
        <tr>
            <td>
                  <span>
                     <input type="checkbox" name="comment" id="comment" value="双大钧" title="双大钧" onclick="getValue(this)"/>双大钧
                 </span>
            </td>
            <td>
                  <span></span>
            </td>
        </tr>
        <tr>
            <td>
                  <span>
                     <input type="checkbox" name="comment" id="comment" value="双大钧" title="双大钧" onclick="getValue(this)"/>双大钧
                 </span>
            </td>
            <td>
                  <span></span>
            </td>
        </tr>


    </table>

    <div id="pagiDiv" align="center" style="width:1200px">
        <span id="spanFirst">首页</span>

        <span id="spanPre">上一页</span>
        <span id="spanNext">下一页</span>
        <span id="spanLast">尾页</span>
        第 <span id="spanPageNum"></span> 页
        <span id="spanTotalPage"></span> 总计
    </div>

</div>
</body>
</html>